@import url(http://fonts.googleapis.com/css?family=Lobster|Libre+Baskerville:400,400italic|Old+Standard+TT:400,400italic);

/* 
	Books R Us Cascading Style Sheets !
	Color Scheme - #CC1200 , # , # , # , #
	
	Be mindful of BootStrap CSS classes and ID's
	Try to avoid conflicts 
	
*/

body{
	max-width: 1080px;
	margin-left: auto;
    margin-right: auto;
	font-family: 'Libre Baskerville', serif;
}
.red{
	color: red;
}

/************* Navbar **************/  
.navbar{
	font-size: 1em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: black;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	 color: red; /*BACKGROUND color for active*/
	 background-color: #030034;
}

.navbar-default {
	background-color: #3012ef;
	border-color: #ffffff;
}
.dropdown-menu{
	color: red;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	color: red;
	text-decoration: none;
	background-color: #2217fa;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: r; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
   	color: red; /*Change active text color here*/
}

/****************End of Navbar***********/ 

/**************Carousel*****************/
.carousel{
	max-width: 1080px;
	height: 400px;
    margin-left: -1em;
    margin-right: auto;
}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
/*************End of Carousel************/
/*.create{
	font-family: 'Libre Baskerville', serif;
	color: red;
}
.create h2{
	color: red;
}
.panel-title{
	font-size: 2em;
}
.login{
	width: 25em;
	margin-top: 8em;
	font-family: 'Libre Baskerville', serif;
}*/

/************ Description Page ************/
.media a img{
	height: 300px;
	width:350px;
	font-family: 'Libre Baskerville', serif;

}
.media-body{
	float: right;
}
.decriptions{
	font-size: large;

}
.panel-default{
	margin-left: 20px;
	margin-top: 15px;
}
/************* New User Page *************/
.create{
	font-family: 'Libre Baskerville', serif;
	color: red;
}
.panel{
	background-color: #f2f2f2;

}
.panel-body{
	background-color: #f2f2f2;
}
#newusersubmit{
	margin-top: 10px;
}


/************* Login Page *************/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
    margin-left: 7px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 25px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}