/* 
	Scarlet Gift Cards Cascading Style Sheets !
	Color Scheme - #CC1200 , # , # , # , #
	
	Be mindful of BootStrap CSS classes and ID's
	Try to avoid conflicts 
	
*/


/* Landing Page*/
body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    color: black;
    background-attachment: scroll;
    background-image: url(img/books.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 100px;
}

.red{
	color: #CC1200;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #CC1200;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #d90303;
}
.btn-xl {
    padding: 20px 40px;
    border-color: aqua;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: grey;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: grey;
    color: aqua;
    background-color: white;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #CC1200;
    background-color: #CC1200;
}

.btn-xl .badge {
    color: #CC1200;
    background-color: #fff;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}


@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
